<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css' ) }}" rel="stylesheet">

    <!-- Karla Font -->
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>

    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        <input type="submit" name="login" class=btn>
    </form>
</body>

</html>