{% extends "base.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table borderless table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Collaborative</th>
                <th scope="col">Privacy</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
            <tr>
                <td><img src="{{ playlist['images'][0]['url'] }}" alt="" width="45" height="45"></td>
                <td><a href="{{ url_for('playlist', id=playlist['id']) }}">{{ playlist["name"] }}</a></td>
                <td>{{ playlist["collaborative"] }}</td>
                {% if playlist["public"] %}
                <td>Public</td>
                {% else %}
                <td>Private</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}